<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.29.4" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="KeyChain.Net" version="0.0.4" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="1.2.1" targetFramework="xamarinios10" />
  <package id="PropertyChanged.Fody" version="1.52.1" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="refit" version="2.4.1" targetFramework="xamarinios10" />
  <package id="Splat" version="1.6.2" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Notifier" version="2.0.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.3.193" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Maps" version="2.3.3.193" targetFramework="xamarinios10" />
</packages>